.All-the-buttons {
  background-color: #222;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  display:block;
  height: 45px;
  margin: auto;
}

.App-footer {
  background-color: #333;
  color: white;
  height: 100px;
  padding: 5px;
  text-align: center;
}

.App-title {
  font-size: 1.0em;
}

.introduction {
  font-size: large;
}

.Contact-info {
  padding: 75px;
}

.First-page {
  background-color: #222;
  color: #2ed141;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  padding: 75px;
}

.Hello-world {
  font-size: large;
}


.information {
    font-size: 17px;
    padding: 15px;
}

.My-name{
    background-color: #222;
    padding: 70px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
    text-align: center;
    color: #2ed141;
}

.navbutton {
    background-color: #2ed141;
    border: none;
    color: #222;
    display: inline-block;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: 1.0s;
    width: 33.3%;
}

.navbutton-hover {
    background-color: #444;
    border: none;
    color: #2ed141;
    display: inline-block;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: 1.0s;
    width: 33.3%;
}

.navbutton-selected {
    background-color: #2ed141;
    border: none;
    color: #222;
    display: inline-block;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: 1.0s;
    width: 33.3%;
}

.React-banner {
  text-align: right;
}

.Resume-header {
  color: #aef9f2;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.Resume-info-line {
  background-color: #444;
  color: #d456ff;
  text-align: center;
  font-size: large;
  font-variant: small-caps;
}

.Resume-page {
  background-color: #333;
  border: 5px solid #444;
  color: #62db66;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
}

.Resume-text {
  margin: 5px;
  text-align: center;
}

.sign{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 40px;
    font-variant: small-caps;
    margin: 25px;
    padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
