.All-the-buttons {
  background-color: #222;
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 45px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.0em;
}

.App-intro {
  font-size: large;
}

.First-page {
  text-align: center;
}

.Hello-world {
  font-size: large;
}


.information {
    font-size: 17px;
    padding: 15px;
}

.My-name{
    background-color: #222;
    padding: 20px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
    text-align: center;
    color: #2ed141;
}

.React-banner {
  text-align: right;
}

.sign{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 40px;
    font-variant: small-caps;
    margin: 25px;
    padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
